.App {
  text-align: center;
  box-sizing: border-box;
}
body {
  background-color: lightgray;
  font-family: "Lato", sans-serif;
}

input {
  padding-top: 6px;
  padding-bottom: 10px;
  border-radius: 10px;
  border-color: lightgray;
  /* border-style: groove; */
}
#SearchInput {
  margin-top: 30px;
  width: 30%;
}

input:focus {
  outline: 1.5px solid darkgray;
}
